/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E         &kp R               &kp T          &kp Y        &kp U             &kp I      &kp O    &kp P     &kp AT_SIGN
&kp LCTRL  &kp A  &kp S  &kp D         &kp F               &kp G          &kp H        &kp J             &kp K      &kp L    &kp SEMI  &kp COLON
&td0       &kp Z  &kp X  &kp C         &kp V               &kp B          &kp N        &kp M             &kp COMMA  &kp DOT  &kp FSLH  &lt 7 NON_US_BACKSLASH
                         &kp LEFT_ALT  &lt 1 INT_MUHENKAN  &lt 3 SPACE    &lt 3 SPACE  &lt 2 INT_HENKAN  &to 8
            >;
        };

        lower_layer {
            display-name = "MOVE";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESC  &none            &kp DEL         &kp UP        &kp BACKSPACE  &none             &kp LC(LEFT_ARROW)  &kp LC(RIGHT_ARROW)  &kp UP_ARROW    &kp BACKSPACE  &none              &kp BSPC
&trans   &kp HOME         &kp LEFT        &kp DOWN      &kp RIGHT      &kp END           &none               &kp LEFT_ARROW       &kp DOWN_ARROW  &kp RIGHT      &kp ENTER          &kp PG_UP
&trans   &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &mkp MCLK     &msc SCRL_UP   &msc SCRL_DOWN    &kp LS(LC(LEFT))    &kp LS(LEFT_ARROW)   &none           &kp LS(RIGHT)  &kp LS(LC(RIGHT))  &kp PG_DN
                                          &kp LEFT_WIN  &trans         &kp ENTER         &kp SPACE           &kp INT_MUHENKAN     &kp INT_HENKAN
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp EQUAL   &kp GRAVE  &kp TILDE            &kp CARET         &kp UNDERSCORE        &kp MINUS      &none             &kp PERCENT            &kp BSPC
&trans  &kp AMPERSAND     &kp HASH           &kp DOLLAR  &none      &kp LEFT_BRACKET     &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp LESS_THAN  &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET
&trans  &none             &none              &none       &none      &kp RIGHT_BRACKET    &kp UNDER         &kp PLUS              &kp LBRC       &kp RBRC          &kp PIPE               &kp NON_US_BACKSLASH
                                             &trans      &trans     &kp SPACE            &kp RET           &trans                &trans
            >;
        };

        layer_3 {
            display-name = "Fn&NUM";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6         &kp F7  &kp F8  &kp F9  &kp F10          &kp F11
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp BACKSPACE  &trans  &trans  &trans  &kp PRINTSCREEN  &kp F12
&trans  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &trans         &trans  &trans  &trans  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                    &trans        &trans        &trans          &trans         &trans  &trans
            >;
        };

        layer_4 {
            display-name = "SYSTEM";
            bindings = <
&none  &none         &none         &none         &none         &bt BT_CLR_ALL    &sys_reset       &none            &none            &none            &rgb_ug RGB_OFF  &rgb_ug RGB_ON
&none  &bt BT_NXT    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3      &bootloader      &none            &none            &none            &rgb_ug RGB_SPI  &rgb_ug RGB_BRI
&none  &out OUT_TOG  &out OUT_BLE  &out OUT_USB  &none         &bt BT_CLR        &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_BRD
                                   &none         &none         &to 0             &to 7            &none            &none
            >;
        };

        layer_5 {
            display-name = "GAME_QWERTY";
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y        &kp U             &kp I      &kp O    &kp P     &kp AT_SIGN
&kp LCTRL       &kp A  &kp S  &kp D         &kp F  &kp G        &kp H        &kp J             &kp K      &kp L    &kp SEMI  &kp COLON
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N        &kp M             &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                              &kp LEFT_ALT  &mo 6  &kp SPACE    &lt 3 SPACE  &lt 2 INT_HENKAN  &kp RALT
            >;
        };

        layer_6 {
            display-name = "GAME_NUM";
            bindings = <
&kp ESC           &trans        &trans        &trans        &trans        &trans          &kp F6         &kp F7            &kp F8  &kp F9  &kp F10          &kp F11
&trans            &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp BACKSPACE  &trans            &trans  &trans  &kp PRINTSCREEN  &kp F12
&kp INT_MUHENKAN  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0    &trans         &trans            &trans  &trans  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                              &trans        &trans        &trans          &trans         &kp INT_MUHENKAN  &trans
            >;
        };

        layer_7 {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none       &kp K_VOLUME_UP
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &kp K_MUTE  &kp K_VOLUME_DOWN
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none       &none
                     &none  &none  &to 0    &to 4  &none  &none
            >;

            label = "Mod";
        };

        layer_8 {
            bindings = <
&kp TAB                   &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp N0          &msc SCRL_UP    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &none         &kp BACKSPACE
&none                     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp UP_ARROW  &none
&mt LEFT_SHIFT BACKSPACE  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp N9        &kp N0          &none           &none           &mkp MCLK       &kp LEFT_ARROW   &kp DOWN      &kp RIGHT
                                                      &kp MINUS     &kp SLASH     &none           &none           &none           &to 0
            >;

            label = "MOUSE";
        };
    };
};
